{{!-- Страница восстановления пароля --}}

<div class="row">
    {{!-- Форма для логина --}}
    <div  class="col s6 offset-s3">
        {{!-- Выводим сообщение об ошибке --}}
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h2>Задать пароль</h2>
        {{!-- Обработка формы --}}
        <form action="/auth/password" method="post">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Новый пароль</label>
                <span class="helper-text" data-error="Введите новый пароль"></span>
            </div>
            {{!-- Защита --}}
            <input type="hidden", name="userId" value="{{userId}}">
            <input type="hidden", name="token" value="{{token}}">

            <button class="btn btn-primary" type="submit">Обновить пароль</button>
        </form>
    </div>
</div>

