<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>
{{!-- Подключение футера --}}
<footer class="page-footer  light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Автодом - не роскошь, а средство для проживания</h5>
                <p class="grey-text text-lighten-4">Дом на колесах – незаменимая вещь для каждого автотуриста, особенного тогда, когда он захочет отправиться в длительное путешествие!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Меню:</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/motorhomes">Все автодома</a></li>
                    <li><a class="grey-text text-lighten-3" href="/add">Добавить автодом</a></li>
                    <li><a class="grey-text text-lighten-3" href="/card">Корзина</a></li>
                    <li><a class="grey-text text-lighten-3" href="/orders">Заказы</a></li>
                    <li><a class="grey-text text-lighten-3" href="/profile">Профиль</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2023 Все права защищены
        <a class="grey-text text-lighten-4 right" href="/">Главная</a>
        </div>
    </div>
</footer>



